build
.gradle
.gradletasknamecache
.idea/*
!.idea/externalDependencies.xml
!.idea/runConfigurations
!.idea/runConfigurations/*
!.idea/vcs.xml
!.idea/dictionaries
!.idea/dictionaries/*
!.idea/copyright
!.idea/copyright/*
!.idea/icon.svg
out
*.iml
.vscode

*.versionsBackup
*.releaseBackup
release.properties
local.properties
*.swp

bin/
.settings
.project
.classpath

.DS_Store